<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204581754388-h3tm23pt0nfubgqmhigs7i1qg2pik0tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204581754388-h3tm23pt0nfubgqmhigs7i1qg2pik0tu</string>
	<key>API_KEY</key>
	<string>AIzaSyBL7DbVqrFvifQ_cmt-NViWBWUBrQbHp0w</string>
	<key>GCM_SENDER_ID</key>
	<string>204581754388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashboard</string>
	<key>PROJECT_ID</key>
	<string>my-example-dashboard</string>
	<key>STORAGE_BUCKET</key>
	<string>my-example-dashboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204581754388:ios:93bcfffd9d3c6cec17f901</string>
</dict>
</plist>